@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@300;400;500;700&display=swap');

*, *::before, *::after {
padding: 0;
margin: 0;
box-sizing:border-box;
}

body {
  background: #EDEDED;
}
#search {
    width:100%;
    height:100vh;
    background-image:url("../assets/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.logo {
display: flex;
margin-left:69px;
padding : 69px;
width: 207px;
height: 25.261px;
justify-content: center;
align-items: flex-end;
gap: 4.6px;
}

.search-div {
    width:100%;
    height:70%;
    gap:1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.section-title {
    color:  #FFD15B;
    text-transform:uppercase;
text-align: center;
font-family:"Anton";
font-size: 44px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#meal {
    width: 954px;
height: 72px;
flex-shrink: 0;
border-radius: 11px;
background: #FFF;
display:flex;
justify-content: space-between;
color: #7A7A7A;
font-family: "Manrope";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
#meal::placeholder {
    color: #7A7A7A;
   padding-left:35px;   
    font-family: "Manrope";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#meal:focus::placeholder {
  color:  #7A7A7A;
font-family: "Manrope";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding:0;
}
#meal:focus {
  padding-left:35px;
}

.search-bar {
    display:flex;
    align-items: center;
}
.search-icon-div {
    width: 51px;
    height: 52px;
    border-radius: 10px;
    background:  #1B1B1B;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left:-3.6rem;
}
.cancel {
  position:absolute;
  right:25%;
  display:none;
  width: 13px;
  height: 13px;
}
.search-icon-div:focus, .search-icon-div:hover {
  background: #FFD15B;
}
.search-icon {
    width: 27px;
    height: 28px;
}

#options {
  margin:2rem 102px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.options {
  display:flex;
  gap:3rem;
}
.ingredients, .appareils, .ustensiles {
width:195px;
height:56px;
border-radius:11px;
background: #FFF;
color: #1B1B1B;
font-family: "Manrope";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.category {
display:flex;
align-items: center;
justify-content: space-between;
padding:1rem;
}
.list {
  overflow: hidden;
  display:none;
  border-radius: 0;
  /* padding-left:1rem; */
}
.list-box {
  position:absolute;
  z-index:1;
width: 195px;
height: 315px;
background: #FFF;
border-radius: 0;
}
.list-item {
list-style:none;
color:  #1B1B1B;
font-family: "Manrope";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
padding : 6px 1rem;
}
.list-item:hover, .list-item:focus {
  background:  #FFD15B;

}
.div-input {
  display:flex;
  align-items: center;
  padding: 0 1rem 1rem 1rem;
}
.icons {
  display:flex;
  align-items: center;
  transform:translateX(-38px);
  gap:8px;
}
#list-input-appareils, #list-input-ingredients, #list-input-ustensils {
  width: 163px;
  height: 36px;
  border-color: #C6C6C6;
  color: #7A7A7A;
font-family: "Manrope";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.cancel-input {
  width: 8px;
height: 8px;
}
.search-icon {
  width: 16px;
height: 15px;
}
#list-input:focus {
  width: 163px;
  height: 36px;
  border-color: #C6C6C6;
  color: #7A7A7A;
font-family: "Manrope";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#recipes-number, .recipes-counter p {
color:  #1B1B1B;
font-family: "Anton";
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.selected-options {
  margin:2rem 102px;
  display:flex;
  flex-wrap:wrap;
  gap:1rem;
}
.selected-item {
  display:flex;
  width:203px;
  height:53px;
  padding: 17px 18px;
  align-items: center;
  justify-content: space-around;
  gap: 60px;
  border-radius: 10px;
  background: #FFD15B;
}
.selected-item:hover 
.selected {
color:#000000;
  font-weight:bold;
}
.selected-item:hover .close-icon-item {
  content:url("../assets/icons/item-hover.svg");
}
.selected {
  color: #000;
font-family: "Manrope";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.selected img {
  width: 10px;
height: 10px;
stroke-width: 2.167px;
stroke:  #1B1B1B;
}
#meals-container {
    margin: 2rem 102px;
    display: flex;
    flex-wrap: wrap; 
    gap: 2rem;
    justify-content: space-between;
  }
  
  article {
    flex: 0 1 calc(33.33% - 2rem); 
    height: 731px;
    border-radius: 21px;
    background: #FFF;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
    margin-bottom: 2rem; 
    position:relative;
  }
  
  article img {
    width: 100%;
    height: 253px;
    object-fit: cover;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
  }
  
  article h3 {
    color: #000;
    font-family: "Anton";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:25px;
  }
  
  article h4 {
    color:#7A7A7A;
font-family: "Manrope";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
text-transform: uppercase;
    margin:25px;
  }

  article p {
    color:  #1B1B1B;
font-family: "Manrope";
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left:25px;
  }
article ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-column-gap: 10px; 
}
  article ul li {
    list-style:none;
    margin-left:25px;
    color:  #1B1B1B;
font-family: "Manrope";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
display:flex;
flex-direction: column;
align-items:flex-start;
  }
article ul li span {
color:  #7A7A7A;
font-family: "Manrope";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}




.time-span {
color:  #1B1B1B;
text-align: center;
font-family:"Manrope";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.time-div {
  padding: 5px 15px;
    border-radius: 14px;
    background: #FFD15B;
    position:absolute;
    top:26px;
    right:22px;
}
